$darkgray: #606060;
$darknavy: #223442;
$offwhite: #f9f9f9;
$newteal: #4ECDC4;
$neworange: #F99E05;

body {
  background-color: $newteal;
  font-family: 'Open Sans';
}

h1 {
  font-family: Lato;
}

h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 900;
}

h3 {
  font-family: 'Open Sans';
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.well {
  margin-top: 80px;
  padding: 50px;
  background-color: $offwhite;
  color: $darkgray !important;
}

.b-reverse {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  background-color: $newteal;
  color: white;
  outline: none;
}

table {
  margin: auto;
  td, th {
    font-size: 14px;
    padding: 5px;
    padding-right: 15px;
    color: $darkgray !important;   
  }
}

/* [chart] percentage */

.graph {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  position: relative;
  padding: 20px;
}

.text {
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 30px;
  width: 130px;
  position: absolute;
  left: 0;
  justify-content: flex-end;
}

.percentage {
  font-size: .8em;
  line-height: 1;
  width: 100%;
  max-width: 100%;
  height: 30px;
  margin-left: 130px;
  background: repeating-linear-gradient(
  to right,
  #ddd,
  #ddd 1px,
  transparent 1px,
  transparent 19.9%
);
  
  &:after {
    content: "";
    display: block;
    background-color: $newteal;
    width: 50px;
    margin-bottom: 4px;
    height: 60%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease;
    cursor: pointer;
  }
  &:hover,
  &:focus {
    &:after {
       background-color: $neworange; 
    }
  }
}

@for $i from 1 through 100 {
  .percentage-#{$i} {
    &:after {
      $value: ($i * 1%);
      width: $value;
    }
  }
}

.browser-move {
  /* applied to the element when moving */
  transition: transform .8s cubic-bezier(.55,0,.1,1);
  /* transition: transform opacity .6s ease-in-out; */
}